/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Oct 17, 2025, 9:05:44 PM
    Author     : Tien
*/

body {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 16px;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #222;
}

header{
    background: #f39c12;
    font-family: Arial;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}

nav{
    display: inline-table;
    background-color: #ffffff;
    width: 80%;
    padding: 10px;
}

footer{
    font-family: Arial;
    background: grey;
    color: white;
    text-align: center;
    padding: 20px;
}

.Food_Item{
    font-family: Arial;
    padding: 10px;


}

img {
    width: 100%;
    height: auto;   
    border: 6px solid #222;
}

.menu {
    background-color:#ffe6cc;
    padding: 20px;
}



